DISCORD_TOKEN=YOUR_TOKEN_HERE
DEV_GUILD_ID=YOUR_SERVER_ID_HERE
API_URL=http://127.0.0.1:8000/api/

# Make sure the Backend shared the same token with this (Bot)
BACKEND_TOKEN=SUPER_LONG_RANDOM_STRING_HERE