SECRET_KEY=YOUR_DJANGO_SECRET_KEY_HERE
DEBUG="True"

# Make sure the Bot shared the same token with this (Backend)
BOT_API_TOKEN=SUPER_LONG_RANDOM_STRING_HERE

DATABASE_NAME="pmbot"
DATABASE_USER="postgres"
DATABASE_PASSWORD="admin"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"