SECRET_KEY="django-insecure-^x2wrq@sda2$+74x+n6t=)h3x4k@mn4prtbm$$#%k*nh$f$h9f"
DEBUG="True"

DATABASE_NAME="pmbot"
DATABASE_USER="postgres"
DATABASE_PASSWORD="admin"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"